#bot-loginIcon {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    cursor: pointer;
    z-index: 9999;
    width: 15dvmin;
    height: 15dvmin;
    border-radius: 100%;
}

#bot-loginIcon:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

#bot-loginIcon * {
    width: 15dvmin;
    height: 15dvmin;
    border-radius: 100%;
}

@media (min-aspect-ratio: 1/1) {
    #bot-loginIcon {
        width: 5rem;
        height: 5rem;
    }

    #bot-loginIcon * {
        width: 5rem;
        height: 5rem;
    }
}

#bot-loginIcon #click {
    position: absolute;
    top: 0;
}

.grecaptcha-badge {
    display: none !important;
}
